<!DOCTYPE html>
<html>
  <body>
    <h2>You must login!</h2>
    <form method="POST">
      <input type="email" placeholder="Username" name="email" /><br />
      <input type="password" placeholder="Password" name="password" />
      <button>Login</button>
    </form>
  </body>
</html>
