<!DOCTYPE html>
<html>
  <body>
    <h2>Registration</h2>
    <form method="POST">
      <input type="email" placeholder="Email" name="email" /><br />
      <input type="password" placeholder="Password" name="password" />
      <input type="password" placeholder="Confirm Password" name="confirmpassword" />
      <button>Register</button>
    </form>
  </body>
</html>
